[submodule "vendor/gist"]
	path = vendor/gist
	url = http://github.com/defunkt/gist.el.git
[submodule "vendor/magithub"]
	path = vendor/magithub
	url = http://github.com/nex3/magithub.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = http://github.com/emacsmirror/nxhtml.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = http://github.com/emacsmirror/yasnippet.git
[submodule "vendor/auto-complete"]
	path = vendor/auto-complete
	url = http://github.com/m2ym/auto-complete.git
[submodule "vendor/jquery-doc"]
	path = vendor/jquery-doc
	url = git://github.com/ananthakumaran/jquery-doc.el.git
[submodule "vendor/eproject"]
	path = vendor/eproject
	url = git://github.com/jrockway/eproject.git
