[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/philjackson/magit.git
[submodule "vendor/org-mode"]
	path = vendor/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "vendor/gist"]
	path = vendor/gist
	url = http://github.com/defunkt/gist.el.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = http://github.com/yoshiki/yaml-mode.git
[submodule "vendor/magithub"]
	path = vendor/magithub
	url = http://github.com/nex3/magithub.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = http://github.com/emacsmirror/nxhtml.git
