*passwords.el
history
bookmarks
auto-save-list
ac-comphist.dat
eshell
tramp
el-get
url
elpa/*
backups
places
server
.mc-lists.el
.smex-items
.workgroups
.aspell.en.pws
.emacs.desktop
.emacs.desktop.lock
