*passwords.el
history
auto-save-list
vendor/*
martin/work/TECHWMNR01*.xml
martin/work/MOpestCont*.xml
martin/work/CHSCISNR01*.xml
martin/work/CHSCPNR01*.xml
martin/work/EPDWNCNR01*.xml
martin/work/EPDBLKNR01*.xml
